<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<!-- Parameters used by tests at runtime -->
	<TestRunParameters>
		
		<Parameter name="webUrl" value="http://beta.kwil.co.uk/Index" />
		<Parameter name="webUrlAdminLogin" value="https://beta.thepunditleague.com/Admin/Login" />
		<Parameter name="DashBoard" value="https://beta.thepunditleague.com/Dashboard" />
		<Parameter name="user" value="josealbertolagos@test.com" />
		<Parameter name="passwordOK" value="1234rgH@" />
		<Parameter name="adminUser" value="admin@admin.com" />
		<Parameter name="adminPasswordOK" value="Zagzig20!9!" />
		<Parameter name="userSecondary" value="tester1@test.com" />
		<Parameter name="driverPath" value="C:\Users\josealbertolagos\source\repos\PunditLeagueAutomation" />
		<Parameter name="passwordOK" value="1234rgH@" />
		<Parameter name="passwordKO" value="11111111" />

	</TestRunParameters>

	<!-- Adapter Specific sections -->

</RunSettings>
