<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<!-- Configuration used by tests at runtime -->
	<RunConfiguration>
		<ResultsDirectory>.\TestResults</ResultsDirectory>
		<SolutionDirectory>.\TestResults</SolutionDirectory>
	</RunConfiguration>
	<!-- Parameters used by tests at runtime -->
	<TestRunParameters>

		<Parameter name="webUrl" value="http://beta.kwil.co.uk/" />
		<Parameter name="DashBoard" value="http://beta.kwil.co.uk/Dashboard/Summary?isEdit=True" />
		<Parameter name="user" value="tester@test.com" />
		<Parameter name="passwordOK" value="123456" />
		<Parameter name="adminUser" value="admin@admin.com" />
		<Parameter name="adminPasswordOK" value="Zagzig20!9!" />
		<Parameter name="userSecondary" value="tester1@test.com" />
		<Parameter name="driverPath" value="C:\Users\josealbertolagos\source\repos\PunditLeagueAutomation" />
		<Parameter name="passwordOK" value="1234rgH@" />
		<Parameter name="passwordKO" value="11111111" />
		
	</TestRunParameters>


</RunSettings>
